@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './prism.css';

:root {
  --anchor-max-height: 280px;
}

*::selection {
  @apply bg-sky-800/70 text-white dark:bg-emerald-500/50;
}

html {
  @apply scroll-smooth;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-lexend {
  font-family: var(--font-lexend);
}

.outer-link {
  @apply text-primary-500 hover:text-primary-600 hover:underline dark:text-primary-500 dark:hover:text-primary-500;
}

.inner-link {
  @apply font-medium text-navy-800 hover:underline dark:text-navy-300;
}

.inner-link.highlight {
  @apply font-medium hover:underline text-primary-500 dark:text-primary-500;
}

.bg-skillbar {
  background-image: linear-gradient(90deg, var(--color-start), var(--color-mid), var(--color-end));
}

.project-card-description {
  @apply text-sm leading-5 text-gray-800 dark:text-white;
}

.project-card-description a {
  @apply text-primary-500 dark:text-primary-500 hover:underline;
}

.project-card-description ul {
  @apply list-disc list-inside mt-2;
}

.project-card-description li {
  @apply mb-1;
}
